*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.breadcrumb {
    display: flex;
    background-color: teal;
    padding: 10px;
    color: #fff;
}

.breadcrumb>.nav-item {
    margin-right: 20px;
}

.prev-btn img{
    cursor: pointer;
}

.list{display: flex;}

.list > li{margin-right: 20px; cursor: pointer;}